WEATHER DATA INSIGHTS

In [184]:
#Importing tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [185]:
#Data Extraction/Collection
csv_file_path = r'C:\DS\LUX\1. Weather Data.csv'
df = pd.read_csv(csv_file_path)

In [186]:
#Top 10 Rows
df.head(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,1/1/2012 5:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,1/1/2012 6:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,1/1/2012 7:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,1/1/2012 8:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,1/1/2012 9:00,-1.3,-3.1,88,15,4.0,101.20,Fog

In [187]:
# Bottom 10 rows
df.tail(10)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
8774,12/31/2012 14:00,-3.4,-5.7,84,6,11.3,100.57,Snow
8775,12/31/2012 15:00,-2.3,-4.6,84,9,9.7,100.47,Snow
8776,12/31/2012 16:00,-1.4,-4.0,82,13,12.9,100.40,Snow
8777,12/31/2012 17:00,-1.1,-3.3,85,19,9.7,100.30,Snow
8778,12/31/2012 18:00,-1.3,-3.1,88,17,9.7,100.19,Snow
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [188]:
# Total Number of Rows and Columns
df.shape

(8784, 8)

In [189]:
# Total Number of Columns
df.shape[1]

8

In [190]:
# Total Number of Columns
len(df.columns)

8

In [191]:
# Total Number of Rows
df.shape[0]

8784

In [192]:
#Total Number of Rows
len(df.index)

8784

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

In [194]:
# Data Description
df.describe()

,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [195]:
#  Weather Records with Exactly clear
clear_weather = df[df['Weather'] == 'Clear']
print(clear_weather)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
67      1/3/2012 19:00   -16.9             -24.8         50               24
114     1/5/2012 18:00    -7.1             -14.4         56               11
115     1/5/2012 19:00    -9.2             -15.4         61                7
116     1/5/2012 20:00    -9.8             -15.7         62                9
117     1/5/2012 21:00    -9.0             -14.8         63               13
...                ...     ...               ...        ...              ...
8646   12/26/2012 6:00   -13.4             -14.8         89                4
8698  12/28/2012 10:00    -6.1              -8.6         82               19
8713   12/29/2012 1:00   -11.9             -13.6         87               11
8714   12/29/2012 2:00   -11.8             -13.1         90               13
8756  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
67             25.0     101.74   Clear
114            25.0     100.71   Clear
115            25.0     100.80   Clear
116            25.0     100.83   Clear
117            25.0     100.83   Clear
...             ...        ...     ...
8646           25.0     102.47   Clear
8698           24.1     101.27   Clear
8713           25.0     101.31   Clear
8714           25.0     101.33   Clear
8756           25.0     101.52   Clear

[1326 rows x 8 columns]

In [196]:
# Number of times the wind speed was exactly 4 km/hr
wind_speed_4_kmh = df[df['Wind Speed_km/h'] == 4]
#print(wind_speed_4_kmh)
count = wind_speed_4_kmh.shape[0]
print(f"The wind speed was 4 km/hr {count} times.")

The wind speed was 4 km/hr 474 times.

In [197]:
# Finding Null Values
df.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [198]:
# Column Rename
df.rename(columns={'Weather':'Weather_Condition'})

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather_Condition
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,1/1/2012 3:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,1/1/2012 4:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,12/31/2012 19:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,12/31/2012 20:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,12/31/2012 21:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,12/31/2012 22:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,12/31/2012 23:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [199]:
# Mean Visibility
print(df['Visibility_km' ].mean())

27.664446721311478

In [200]:
# Number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.
records = df[(df['Wind Speed_km/h'] > 24) & (df['Visibility_km'] == 25)]
count = records.shape[0]
print(f"The number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km is {count}.")

The number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km is 308.

In [204]:
# Instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.
filtered_clear = df[(df['Weather'] == 'Clear') & ((df['Rel Hum_%'] > 50) | (df['Visibility_km'] > 40))]
print(filtered_clear)

             Date/Time  Temp_C  Dew Point Temp_C  Rel Hum_%  Wind Speed_km/h  \
114     1/5/2012 18:00    -7.1             -14.4         56               11
115     1/5/2012 19:00    -9.2             -15.4         61                7
116     1/5/2012 20:00    -9.8             -15.7         62                9
117     1/5/2012 21:00    -9.0             -14.8         63               13
241     1/11/2012 1:00   -10.7             -17.8         56               17
...                ...     ...               ...        ...              ...
8646   12/26/2012 6:00   -13.4             -14.8         89                4
8698  12/28/2012 10:00    -6.1              -8.6         82               19
8713   12/29/2012 1:00   -11.9             -13.6         87               11
8714   12/29/2012 2:00   -11.8             -13.1         90               13
8756  12/30/2012 20:00   -13.8             -16.5         80               24

      Visibility_km  Press_kPa Weather
114            25.0     100.71   Clear
115            25.0     100.80   Clear
116            25.0     100.83   Clear
117            25.0     100.83   Clear
241            25.0     101.49   Clear
...             ...        ...     ...
8646           25.0     102.47   Clear
8698           24.1     101.27   Clear
8713           25.0     101.31   Clear
8714           25.0     101.33   Clear
8756           25.0     101.52   Clear

[1220 rows x 8 columns]

In [207]:
#Number of weather conditions that include snow.
snow_conditions = df['Weather'].str.contains('snow', case=False, na=False).sum()
print(f"The number of weather conditions that include 'snow' is: {snow_conditions}")

The number of weather conditions that include 'snow' is: 583